.cloudcom-help {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cloudcom-help__header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  background-color: #E5E5FF;
  width: 100%;
  height: 100px;
}

.cloudcom-help__header h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
}

.cloudcom-help__header .learn {
  color: #0000FF; /* Example color, adjust to match design */
  text-decoration: none;
}

.cloudcom-help__content,
.cloudcom-help__content_part2 {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  /* max-width: 1200px; */
}

.cloudcom-help__image-section,
.cloudcom-help__values-section,
.cloudcom-help__image-section_2,
.cloudcom-help__values-section_2 {
  width: 50%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #6F6F6F;
}


.cloudcom-help__image-section_2{
  display: flex;
  justify-content: flex-end;
}
.cloudcom-help__values-section_2{
  padding-right: 5%;
}

.cloudcom-help__image {
  width: 100%;
  padding-right: 5%;
}

.cloudcom-help__image_2 {
  width: 80%;
}

.values-card {
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.values-card h3 {
  font-size: 1.5rem;
  color: #0000FF;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: left;
}

.values-list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.values-list div {
  width: 50%;
}

.values-list p {
  margin-bottom: 1rem;
  color: #333;
  font-size: 1rem;
}

.tickIconHelp {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

/* Responsive Styles */
@media (max-width: 768px) {
  /* Stack images and text vertically */
  .cloudcom-help__content,
  .cloudcom-help__content_part2 {
    align-items: center;
    padding: 1rem;
  }

  .cloudcom-help__content{
    flex-direction: column;
  }

  .cloudcom-help__content_part2 {
    flex-direction: column-reverse;
  }

  .cloudcom-help__image-section,
  .cloudcom-help__values-section,
  .cloudcom-help__image-section_2,
  .cloudcom-help__values-section_2 {
    width: 100%;
    padding: 1rem;
  }

  .cloudcom-help__values-section_2{
    text-align: center;
  }

  .cloudcom-help__image {
    padding-right: 0;
  }

  .cloudcom-help__image-section_2{
    justify-content: center;
  }

  /* Adjust the header text size on smaller screens */
  .cloudcom-help__header h2 {
    font-size: 1.2rem;
  }

  /* Adjust card padding for smaller screens */
  .values-card {
    padding: 1.5rem;
  }

  /* Adjust font sizes in the values card */
  .values-card h3 {
    font-size: 1.25rem;
  }

  .values-list {
    flex-direction: column;
    gap: 0rem;
  }

  .values-list div {
    width: 100%;
  }
}
