.case-studies-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #F3F0F0;
  }
  
  
  .case-studies-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
  }
  
