.contactusbanner-container{
  padding: 5%;
  background-color: #F3F0F0;
}

/* .contactusbanner-section {
  background-image: url('../../../Assets/Images/CaseStudyScreen/background.svg'); 
  background-size: cover; 
  background-position: center; 
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 75vh; 
  padding: 20px;
  width: 95%;
  border-radius: 30px;
} */

.contactusbanner-section {
  background-image: url("../../../Assets/Images/CaseStudyScreen/background.svg"); 
  background-size: cover;
  background-position: center;
  color : white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 30px; 
  width: 90%;
  height: 450px; 
  /* position: relative;
  width: 90%;
  height: 500px; 
  margin: 20px auto; 
  overflow: hidden; 
  border-radius: 30px; */
}


.contactusbanner-content {
  text-align: left;
  margin: 0 30px 0 30px;
}

/* Heading */
.contactusbanner-content h1 {
  font-size: 48px;
  line-height: 1.2;
  margin: 0 0 20px;
}

/* Subheading */
.contactusbanner-content p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.5;
  opacity: 0.8;
}

/* Buttons */
.contactusbanner-buttons {
  display: flex;
  gap: 15px;
  /* margin-top: 10px; */
}

.button {
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.primary-button {
  background-color: white;
  color: #0047ff;
}

.secondary-button {
  background-color: #0062ff;
  color: white;
}
