.outer-container {
  background-color: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.blue-section {
  background: url('../../../Assets/Images//General//StayInTheKnowComponent/background.svg') center/cover no-repeat;
  border-radius: 12px;
  padding: 40px;
  width: 100%;
  max-width: 100%;
  color: white;
  text-align: center;
  min-height: 350px;
  display: flex;                     /* Make the container a flex container */
  flex-direction: column;            /* Stack items vertically */
  align-items: center;               /* Center items horizontally */
  justify-content: center;           /* Center items vertically */
}

.blue-section h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: white;
}

.blue-section p {
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  min-width: 50%;
  padding: 5px;
}

.input-container input {
  border: none;
  flex: 1;
  outline: none;
}

.contactus-email-input::placeholder{
  padding-left: 2%;
}

.input-container button {
  background-color: #007bff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.input-container img {
  width: 20px;
  height: 20px;
}

.gradient-button {
  background: linear-gradient(45deg, #0000FF, #3497DD);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  width: 60px;
  justify-content: center;
  transition: background 0.3s ease;
}

.gradient-button img {
  width: 20px;
  height: 20px;
}

.gradient-button:hover {
  background: linear-gradient(45deg, #3497DD, #0000FF);
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .outer-container {
    padding: 20px;
  }

  .blue-section {
    padding: 20px;
    width: 90%;
    min-height: 300px;
  }

  .blue-section h2 {
    font-size: 1.5em;
  }

  .blue-section p {
    font-size: 0.9em;
  }

  .input-container {
    flex-direction: column;
    padding: 10px;
    max-width: 100%;
  }

  .input-container input {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
  }

  .gradient-button {
    width: 100%;
    padding: 12px;
  }
}

/* Small mobile adjustments */
@media (max-width: 480px) {
  .blue-section h2 {
    font-size: 1.2em;
  }

  .blue-section p {
    font-size: 0.8em;
  }

  .input-container input {
    font-size: 0.9em;
    padding: 8px;
  }

  .gradient-button {
    padding: 10px;
  }
}
