.verification-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
  }
  
  .logo-section img {
    width: 120px;
    margin-bottom: 20px;
  }
  
  .verification-content {
    padding: 20px;
    border-radius: 10px;
    width: 100vb;
    height: 100vb;
  }
  
  .verification-image {
    width: 200px;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #0044FF;
    margin-bottom: 10px;
  }
  
  .verification-text {
    margin: 20px 20px;
  }

  .email-address {
    font-weight: bold;
    margin: 20px 0px;
  }
  


  