.cloudcom-btn {
    padding: 8px 20px;
    background-color: #0000FF;
    color: white;
    border: none;
    border-radius: 27px;
    text-decoration: none;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    transition: box-shadow 0.3s ease;
    cursor : pointer;
}

.cloudcom-btn:hover {
    background-color: #0041a6;
}

.arrow {
    margin-left: 10px;
    font-size: 1.2rem;
}

.glow {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.4), 
    0 0 20px rgba(0, 0, 255, 0.3);
}
