.about-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    background-color: #FAFAFA;
  }
  
  .about-text {
    max-width: 50%;
    text-align: left;
    margin-left: 20px; /* Adjust this for exact alignment */
  }
  
  .about-text h2 {
    font-size: 1.8rem;
    text-align: left;
    color: #0000FF; /* Blue color */
    margin-bottom: 15px;
    position: relative;
  }

  
  .about-text h3 {
    font-size: 1.5rem;
    color: #333;
    font-weight: normal;
    margin-bottom: 20px;
  }
  
  .about-text p {
    color: #666;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .read-more-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0056D2;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .about-image {
    max-width: 40%; /* Adjust as needed */
  }
  
  .about-image .profile-img {
    width: 100%;
    border-radius: 10px;
  }
  
  @media (max-width: 1024px) {
    .about-container {
        padding: 30px;
    }

    .about-text {
        max-width: 100%;
        margin-left: 0;
    }

    .about-image {
        max-width: 100%;
        margin-top: 20px;
    }

    .about-text h2 {
        font-size: 1.6rem;
    }

    .about-text h3 {
        font-size: 1.3rem;
    }

    .about-text p {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .about-text, .about-image {
        max-width: 100%;
    }

    .about-text h2 {
        font-size: 1.5rem;
    }

    .about-text h3 {
        font-size: 1.2rem;
    }

    .read-more-btn {
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .about-text h2 {
        font-size: 1.3rem;
    }

    .about-text h3 {
        font-size: 1rem;
    }

    .about-text p {
        font-size: 0.8rem;
    }

    .read-more-btn {
        font-size: 0.8rem;
        padding: 8px 12px;
    }
}