.auth-template-screen {
  background-color: white;
  position: relative;
}

.auth-template-content {
  display: flex;
  min-width: 100vw; 
  min-height: 100vh;
}
  
 .authTempalte-left-section, .authTempalte-right-section {
    flex : 1
}

@media (max-width: 768px) {
    .auth-template-content {
      flex-direction: column;
    }
}
  
/*----------------------------------- background elipses --------------------------*/
.parent-container {
  position: relative;
}

.auth-ellipse-1 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0%;
  left: 1150px;
}

.auth-ellipse-2 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10%;
  right: -1100px;
}

.auth-ellipse-3 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -3%;
  left: 970px;
}

.auth-ellipse-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 80px;
  right: -990px;
}

.ellipse-bottom-left {
  position: absolute;
  bottom: -30px;
  left: 1150px;
}

.divider-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}

.line_divider {
  display: flex;
  align-items: center;
  width: 80%;
}

.login-divider {
  border: none;
  border-top: 1px solid #C5C5C5; /* Light gray color for the lines */
  height: 1px;
  flex-grow: 1;
  margin: 0 10px; /* Space around the "OR" text */
}

.login-or-divider {
  font-size: 14px; /* Adjust size to match design */
  color: #C5C5C5; /* Same light gray color for the "OR" text */
}