.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  width:100%
}

.login-form-card {
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  color: #0000FF;
  font-size: 24px;
  margin-bottom: 20px;
}

.divider-section{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.line_divider {
  display: flex;  
  align-items: center; 
  justify-content: center; 
  width: 70%;
}

.login-divider {
  flex :1;
  border: none;
  border-top: 1px solid #ddd;
  margin : 0px 5px;
}

.login-or-divider {
  color: #aaa;
  font-size: 12px
}

.google-login{
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

.google-login-btn {
  background-color: white;
  border: 1px solid #ddd;
  color: #666;
  padding: 10px 20px;
  width: 70%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.google-login-btn img {
  width: 20px;
  margin-right: 10px;
}



.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.loginInput {
  border-radius: 25px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.remember-me input {
  margin-right: 5px;
}

.forgot-password {
  color: #0000FF;
  text-decoration: underline;
  font-size: 14px;
}

.verificationText{
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  color:black
}

.verification-options {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.verification-options label {
  font-size: 14px;
}

@media (max-width: 768px) {
  .login-form-card {
    padding: 20px;
  }
  .login-container {
    min-height: 0vh;
  }
}
