
  .forgot-password-image img {
    max-width: 500px;
  }
  
  .forgot-password-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  @media (max-width: 768px) {
  
    .forgot-password-image img {
      max-width: 100%;
      margin-bottom: 20px;
    }
  
  }
  