.registration-screen {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 20px;
  }
  
  @media (max-width: 768px) {
    .registration-screen {
      flex-direction: column;
    }
  }
  