/* Main FAQ Section */
.faq-section {
  background-image: url("../../../Assets/Images/HomeScreen/FaqsComponent/Frame 1000005195.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5% 10%;
}

.faq-header {
  max-width: 600px;
}

.faq-header h2 {
  text-align: left;
  font-size: 24px;
  margin: 0;
  color: white;
}

.faq-header h1 {
  font-size: 36px;
  margin: 10px 0;
}

.faq-list {
  display: flex;
  gap: 15px; /* Space between columns */
}

.faq-column {
  display: flex;
  flex-direction: column; /* Ensure items in a column stack */
  gap: 15px; /* Space between items in the column */
  flex: 1; /* Equal width for both columns */
}

.faq-item {
  background-color: #6e7174;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: inset 0px 8px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden; /* Prevent content overflow */
}

.faq-item.open {
  height: auto; /* Expand height dynamically */
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question-text {
  color: white;
}

.toggle-icon {
  font-size: 12px;
  color: #ccc;
}

.faq-answer {
  margin-top: 15px;
  color: #e0e0e0;
}

.faq-answer ul {
  list-style-type: disc;
  margin-left: 20px;
}

.faq-answer li {
  margin-bottom: 8px;
}

@media (max-width: 1920px) {
  .faq-question-text {
      font-size: 22px;
  }
}

@media (max-width: 1440px) {
  .faq-question-text {
      font-size: 16px;
  }
}

@media (max-width: 1439px) {
  .faq-question-text {
      font-size: 14px;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .faq-list {
    flex-direction: column; /* Stack columns on smaller screens */
  }
  .faq-question-text {
    font-size: 14px;
}
}
