.about-us-container {
  text-align: center;
  /* padding-top: 2%; */
  /* padding-bottom: 2%; */
  background-color: #F3F0F0;
}

.about-us-title-container {
  text-align: center;
  /* padding-top: 2%; */
  /* padding-bottom: 2%; */
  background-color: #fcfafa;
}


.about-us-title-container h2 {
  color: #0000FF;
  font-size: 30px;
  margin-bottom: 10px;
}

.about-us-container h1 {
  font-size: 2.5rem;
  /* margin-bottom: 20px; */
}

.about-us-description {
  color: black;
  max-width: 800px;
  margin: 0 auto 40px;
}

.about-us-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.row {
  display: flex;
  align-items: center;
  gap: 20px;
  /* padding: 2%; */
}

.text-section {
  flex: 1;
  line-height: 1.6;
  text-align: left;
}

.text-section p {
  color: #000000;
}

.icon-section {
  flex: 1;
  display: flex;
  position: relative;
}

.icon-section-1 {
  justify-content: right;
}

.icon-section-2 {
  justify-content: right;
}

.aboutus-title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.illustration {
  width: 65%;
  transition: transform 1s ease-in-out;
  backface-visibility: hidden;
}

.img1 {
  z-index: 0;
}

.icon1after {
  position: absolute;
  z-index: 1;
  opacity: 0;
}

.slide-left {
  opacity: 0;
}

.show-icons {
  opacity: 1;
}

/* Responsive styling for tablets */
@media (max-width: 1024px) {

  .about-us-container h1 {
    font-size: 2rem;
  }
  
  /* .about-us-description {
    font-size: 1rem;
    max-width: 90%;
  } */
  
  .row {
    gap: 15px;
  }
  
  .text-section p {
    font-size: 1.2rem;
  }
}

/* Responsive styling for mobile screens */
@media (max-width: 768px) {

  .aboutus-title{
    flex-direction: row;
    margin-bottom: 20px;
  }

  .about-us-container {
    padding: 3% 5%;
  }
  
  .about-us-title-container h1 {
    font-size: 1.2rem;
    white-space: nowrap;
  }
  
  .about-us-description {
    font-size: 1rem;
    padding: 0 10px;
  }
  
  .row {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  
  .icon-section {
    order: -1; /* Move icon section above text section */
    margin-bottom: 10px;
  }
  
  .text-section {
    text-align: center;
    margin-top: 10px;
  }
  
  .text-section p {
    font-size: 18px;
  }
  
  .illustration {
    width: 80%;
    max-width: 300px;
  }
}

/* Responsive styling for small mobile screens */
@media (max-width: 480px) {
  .about-us-container h1 {
    font-size: 1.2rem;
    padding: 0 2px;
  }
  
  .about-us-description {
    font-size: 18px;
    padding: 0 10px;
  }

  /* .text-section p {
    font-size: 0.9rem;
  } */
  
  .illustration {
    width: 90%;
    max-width: 250px;
  }
}
