.about-us-container {
  text-align: center;
  /* padding: 50px; */
  padding-top: 2%;
  background-color: #F3F0F0;
}

.about-us-container h2 {
  color: #0000FF;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.about-us-container h1 {
  font-size: 2.5rem;
  /* font-weight: bold; */
  margin-bottom: 20px;
}

.about-us-description {
  color: black;
  font-size: 1.1rem;
  max-width: 800px;
  margin: 0 auto 40px;
}

.about-us-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.row {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  padding: 2%;
}


.text-section {
  flex: 1;
  line-height: 1.6;
  text-align: left;
}

.text-section p{
  font-size: 25px;
  color: #000000;
}

.icon-section {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;

}

.illustration {
  width: 65%;  /* Ensure both images take up the same space */
  transition: transform 1s ease-in-out; /* Smooth transform and opacity transition */
  backface-visibility: hidden;
}


.img1 {
  z-index: 2; /* Initially above the other image */
}

.icon1after {
  position: absolute;
  z-index: 1; /* Below initially, icons will "appear" later */
  opacity: 0; /* Start invisible */
}

.slide-left {
 /* Slide the first image to the left */
  opacity: 0; /* Gradually fade out while sliding left */
}

.show-icons {
  opacity: 1; /* Make the second image visible as the first fades out */
  /* transform: translateX(-20px);  */
}