.topic-example-container {
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  /* padding-bottom: 2%; */
  background-color: white;
}

.example-item {
  display: flex;
  flex-direction: column; /* Stack text and icon vertically on mobile */
  align-items: center;
  /* padding: 20px 0; */
}

.examplePage-text,
.example-text {
  max-width: 100%; /* Full width for mobile */
  text-align: center;
}

/* .example-text{
  margin-left: 10%;
} */

.examplePage-text {
  margin-left: 10%;
}

.examplePage-text h1,
.example-text h1 {
  font-size: 28px;
  color: #333;
  font-weight: bold;
  margin: 0;
}

.examplePage-text p,
.example-text p {
  color: #666;
  margin: 5px 0 0;
  line-height: 1.5;
}

.example-icon img {
  width: 100%; /* Smaller icon size for mobile */
  height: auto;
  margin-top: 10px; /* Space between text and icon */
}

.example-item-reverse {
  background-color: #F9F9F9;
}

@media (max-width: 480px) {

  .example-item{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .examplePage-text{
    text-align: center;
  }

  .examplePage-text{
    text-align: center;
  }

  .example-item-reverse {
    flex-direction: column-reverse; 
  }
}

/* Tablet screens */
@media (min-width: 768px) {

  /* .topic-example-container {
    padding: 40px;
  } */

  .example-item {
    flex-direction: row; /* Side-by-side layout for tablet and above */
    justify-content: space-between;
    align-items: center;
    /* padding: 30px 0; */
  }

  .examplePage-text,
  .example-text {
    max-width: 40%; /* Half width for text on larger screens */
  }

  .example-icon img {
    width: 250px; /* Larger icon size for tablets */
  }

}

/* Desktop screens */
@media (min-width: 1024px) {
  
  .examplePage-text,
  .example-text {
    text-align: left;
  }
  

  .example-icon img {
    width: 400px; /* Full icon size for desktop */
  }
}

@media (max-width: 480px) {
  
  .examplePage-text h1, .example-text h1{
    font-size : 24px
  }
}



