.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    background-color: white;
    padding: 20px;
  }
  
  .forgot-password-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    flex-direction: row;
  }
  
  .forgot-password-image img {
    max-width: 300px;
  }
  
  .forgot-password-form {
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .forgot-password-form h2 {
    color: #0000FF;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .forgot-password-form p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #666;
  }
  
  .forgot-password-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  /* .forgot-password-form input[type="email"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  } */

  .forgotPasswordCardText{
    margin-bottom: 50px;
    font-size: 11px;
    color:black
  }

  .forgotPasswordInput{
    border-radius: 25px;
  }
  
  .action_link{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .sign-in-link a {
    color: black;
    font-size: 12px;
    text-decoration: underline;
  }


  
  /* Responsive Styling for smaller screens */
  @media (max-width: 768px) {
    .forgot-password-content {
      flex-direction: column;
    }
  
    .forgot-password-image img {
      max-width: 100%;
      margin-bottom: 20px;
    }
  
    .forgot-password-form {
      width: 100%;
      padding: 20px;
    }
  
    .forgot-password-form h2 {
      font-size: 20px;
    }
  
    .forgot-password-form p {
      font-size: 14px;
    }
  
    .forgot-password-form button {
      font-size: 14px;
    }
  }
  