.success-stories-container {
    width: 100%;
    padding: 60px 0;
    text-align: center;
    background-color: #F3F0F0;
  }
  
  .success-stories-container h2 {
    color: #0000FF;
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .success-stories-description {
    font-size: 20px;
    color: black;
    max-width: 700px;
    margin: 0 auto 30px;
  }
  
  .story-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    margin: auto;
    width: 80%;
    background-color: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
  }
  
  .story-image img {
    width: 400px;
    height: auto;
    border-radius: 10px;
  }
  
  .story-content {
    width: 50%;
    text-align: left;
  }
  
  .logo-image {
    width: 120px;
    margin-bottom: 10px;
  }
  
  .story-content h3 {
    font-size: 1.5rem;
    color: #333;
    font-weight: normal;
    margin-bottom: 10px;
  }
  
  .story-content p {
    color: #1E1E1E;
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  .story-content  .stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .story-content .stat-item {
    text-align: left;
    border-bottom: 0px;
  }
  
  .story-content  .middle-item {
    border-right: 1px solid #ccc; 
  }
  
  .stat-item h4 {
    font-size: 32px;
    color: #0000FF;
    margin: 0;
  }
  
  .stat-item p {
    color: #666;
    font-size: 20px;
  }

  .stat-item-right {
    border-right: 1px solid #ccc; /* Right border */
  }
  
  .explore-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0056D2;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .home-nav-dots {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  
  .home-nav-dots .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 1px #0056D2;
    background-color: white;
  }
  
  .home-nav-dots .active {
    background-color: #0056D2 !important;
  }
  
  @media (max-width: 1024px) {
    .story-section {
      flex-direction: column;
      padding: 20px;
    }
  
    .story-content {
      text-align: center;
      width: 100%;
      margin-bottom: 20px;
    }
  
    .story-image img {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .story-content h3 {
      font-size: 1.2rem;
    }
  
    .story-content p {
      font-size: 18px;
    }
  
    .stat-item h4 {
      font-size: 28px;
    }
  
    .stat-item p {
      font-size: 16px;
    }
  
    .explore-btn {
      padding: 8px 16px;
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .success-stories-container {
      padding: 30px 0;
    }
  
    .story-section {
      padding: 10px;
    }
  
    .story-content p {
      font-size: 16px;
    }
  
    .stat-item h4 {
      font-size: 24px;
    }
  
    .stat-item p {
      font-size: 14px;
    }
  }
  