.primary-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 4px 16px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

/* .navbar-left {
  margin-left: 5%;
} */

.navbar-right {
  display: flex;
  align-items: center;
  /* margin-right: 50px; */
}

.navbar-left .Cloudcom_Logo {
  width: 176px;
  height: 50px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar-links li {
  font-size: 12px;
  position: relative;
}

.navbar-links li a {
  text-decoration: none;
  color: #333;
}

.navbar-links li a:hover {
  color: #0056D2;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  border-radius: 8px;
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  z-index: 1;
}

.dropdown-menu a {
  text-decoration: none;
  color: #333;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  margin-left: 20px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px;
}

.dropdown-icon {
  margin-left: 5px;
  transition: transform 0.3s ease, fill 0.3s ease;
}

.dropdown:hover .dropdown-icon {
  transform: rotate(90deg);
  fill: #0056D2;
  color: #0056D2;
}

/* Responsive Styles */
@media (min-width: 1920px){
  .navbar-links li {
    font-size: 22px;
  }
}

@media (min-width: 1440px) and (max-width: 1900px){
  .navbar-links li {
    font-size: 15px;
  }
}

@media (max-width: 1024px) {
  .primary-navbar {
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
  }

  .navbar-left {
    margin: 0px 20px;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    position: absolute;
    top: 65px;
    right: 0;
    background-color: white;
    padding: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .navbar-links.active {
    display: flex;
  }

  .hamburger-menu {
    display: block;
  }

  .navbar-right {
    display: none;
  }

  /* Adjust dropdown menu to one column in mobile view */
  .dropdown-menu {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: none;
    display: flex;
    flex-direction: column; /* Set to one column */
    gap: 10px;
    padding: 10px;
  }

  /* Signup button styling inside burger menu */
  .signup-button {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    color: white;
  }
}

.active-link {
  color: #0056D2;
  font-weight: bold;
  border-bottom: 2px solid #0056D2;
}

.default-icon {
  display: inline;
}

.hover-icon {
  display: none;
}

.menu-item-hover:hover .default-icon {
  display: none;
}

.menu-item-hover:hover .hover-icon {
  display: inline;
}
