.primary-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px 30px;
  box-shadow: 0 4px 16px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1; 
}

.navbar-left .Cloudcom_Logo {
  height: 40px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar-links li {
  font-size: 14px;
  position: relative;
}

.navbar-links li a {
  text-decoration: none;
  color: #333;
}

.navbar-links li a:hover {
  color: #0056D2; /* Blue color on hover */
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  border-radius: 8px;
  width: 500px; 
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 15px;
  z-index: 1;
}

.dropdown-menu a {
  text-decoration: none;
  color: #333;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  margin-left: 20px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px;
}
/* Responsive Styles */
@media (max-width: 1024px) {
  .primary-navbar {
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    position: absolute;
    top: 65px;
    right: 0;
    background-color: white;
    padding: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .navbar-links.active {
    display: flex;
  }

  .hamburger-menu {
    display: block;
  }

  .navbar-right {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
}

.active-link {
  color: #0056D2; /* Blue color for active link */
  font-weight: bold;
  border-bottom: 2px solid #0056D2; /* Optional: add underline to indicate active link */
}

.default-icon {
  display: inline;
}

/* Hover icon is hidden by default */
.hover-icon {
  display: none;
}

/* When the parent element (menu item) is hovered */
.menu-item-hover:hover .default-icon {
  display: none; /* Hide the default icon */
}

.menu-item-hover:hover .hover-icon {
  display: inline; /* Show the hover icon */
}