.SuccessStoriesBanner{
  padding: 5%;
  background-color: #F3F0F0;
}

/* Main Container Styling */
.success-stories-banner {
    position: relative;
    width: 90%;
    height: 500px; 
    background-image: url("../../../Assets/Images/HomeScreen/TestimonialsComponent/womenbg.png"); 
    background-size: cover;
    background-position: center;
    border-radius: 15px; 
    margin: 20px auto; 
    overflow: hidden; 
    border-radius: 30px;
  }
  
  /* Overlay for Content */
  .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: rgba(0, 0, 0, 0.2); 
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  /* Banner Content Styling */
  .banner-content {
    color: #fff;
    text-align: left;
    max-width: 50%;

  }
  
  .banner-title {
    font-size: 64px;
    text-align: left;
    color: white;
    margin-bottom: 15px;
  }
  
  .banner-description {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  /* Button Styling */
  .banner-button {
    background: transparent;
    width: 185px;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  
  /* Pagination Dots */
  .pagination-dots {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 8px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6);
  }
  
  .dot.active {
    background: #ffffff;
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 1024px) {
    .banner-content {
      max-width: 60%;
    }
    
    .banner-title {
      font-size: 28px;
      margin-top: 0;
    }
  
    .banner-description {
      font-size: 16px;
    }
  
    .banner-button {
      font-size: 14px;
      padding: 8px 15px;
    }
  }
  
  @media (max-width: 768px) {
    .success-stories-banner {
        height: 320px;
    }
    .banner-content {
      max-width: 80%;
    }
    
    .banner-title {
      font-size: 24px;
      margin-top: 0;
    }
  
    .banner-description {
      font-size: 14px;
    }
  
    .banner-button {
      font-size: 14px;
      padding: 6px 12px;
    }
  }
  
  @media (max-width: 480px) {

    .success-stories-banner {
        height: 220px;
    }
    
    .banner-title {
      font-size: 20px;
    }
  
    .banner-description {
      font-size: 12px;
    }
  
    .banner-button {
      font-size: 12px;
      padding: 5px 10px;
    }
  
    .pagination-dots {
      right: 10px;
      bottom: 10px;
    }
  
    .dot {
      width: 8px;
      height: 8px;
    }
  }
  

