.intro-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: white;
  }
  
  .content-section {
    width: 60%;
  }
  
  .content-section h1 {
    font-size: 2.5rem;
    color: #333;
    line-height: 1.5;
  }
  
  .highlight-text {
    font-size: 7rem;
    color: black;
    line-height: 1.5;
    font-weight: bold;
  }

  .gradient-text{
    background: linear-gradient(to right, #55AEFF, #727BFF, #0000FF); /* Define your gradient colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
  
  .content-section p {
    font-size: 1.2rem;
    color: #666;
    margin-top: 10px;
  }
  
  .demo-btn {
    margin-top: 50px;
  }
  
  .intro-image-section {
    width: 50%;
  }
  
  .support-image {
    width: 100%;
    border-radius: 10px;
  }

  /* Responsive Design */
@media (max-width: 1024px) {
  .intro-container {
      padding: 30px;
  }

  .highlight-text {
      font-size: 5rem;
  }

  .content-section h1 {
      font-size: 2rem;
  }

  .content-section p {
      font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .intro-container {
      flex-direction: column-reverse;
      padding: 20px;
  }

  .content-section, .intro-image-section {
      width: 100%;
      margin-bottom: 20px;
  }

  .highlight-text {
      font-size: 4rem;
  }

  .content-section h1 {
      font-size: 1.8rem;
  }

  .demo-btn {
      padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .highlight-text {
      font-size: 3rem;
  }

  .content-section h1 {
      font-size: 1.5rem;
  }

  .content-section p {
      font-size: 0.9rem;
  }

  .demo-btn {
      font-size: 0.9rem;
      padding: 8px 12px;
  }
}
