.data-management-container {
    padding: 50px;
    /* background-color: black; */
    background-image: url('../../../Assets/Icons/HomeScreen/DataManagementComponent/backgroundImage.svg'); 
    background-size: contain; 
    background-position: center; 
  }
  
  .top-section {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .top-section h1 {
    font-size: 2rem;
    color: #ccc;
  }
  
  .bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .data-left-section {
    max-width: 50%;
    min-width: 50%;
    text-align: left;         
    align-items: flex-start; 
  }
  
  .data-left-section h2 {
    font-size: 1.8rem;
    color: white;
    margin-bottom: 20px;
  }
  
  .data-left-section p {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .data-explore-btn {
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #0056D2;
    border-radius: 50px;
    text-decoration: none;
  }

  .explore-btn-glow {
    box-shadow: 0 0 10px rgba(255, 255, 255, 10), 
    0 0 20px rgba(255, 255, 255, 0.3);
  }
  
  .middle-section img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  .right-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .ellipse {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  
  