.data-management-container {
  background-size: contain;
  background-position: center;
  /* background-image: url("../../../Assets/Icons/HomeScreen/DataManagementComponent/backgroundImage.svg"); */
  background-color: #1E1E1E;
  background-size: cover;
  background-position: center;
}

.top-section {
  overflow: hidden;
  padding: 20px 0;
  position: relative;
}

.bottom-section-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.scrolling-text {
  display: flex;
  white-space: nowrap;
  animation: scrollText 20s linear infinite;
}

.scrolling-text h1 {
  font-size: 2.5rem;
  color: #AEAEAE;
  margin: 0;
  padding-right: 40px;
}

/* Keyframes for Scrolling Text Animation */
@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Desktop layout */
.bottom-section {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* padding: 0 40px; */
  margin-top: 5%;
}

.data-left-section {
  min-width: 50%;
  flex : 1;
  text-align: left;
  margin-bottom: 5%;
}

.data-left-section h2 {
  font-size: 1.8rem;
  color: white;
  margin-bottom: 20px;
}

.data-left-section p {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.data-explore-btn {
  font-weight: bold;
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: #0000FF;
  border-radius: 50px;
  text-decoration: none;
  margin-bottom: 2%;
}

.explore-btn-glow {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3), 0 0 20px rgba(255, 255, 255, 0.3);
}


.icon_container {
  display: flex;
  flex-direction: column;        
  gap: 10px;                     
}

.dm_title_icon {
  width: 50px;                  
  height: 50px;
}

.dataIconAnimation {
  width: 540px;
  height: 400px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  padding-bottom : 10px
}


@media (min-width: 1024px) and (max-width: 1920px) {
  .middle-section img {
    min-width: 600px;
    border-radius: 10px;
  }

  .dataIconAnimation {
    width: 640px;
    height: 500px;
  }
}

/* Responsive styles for tablet and mobile */
@media (max-width: 1024px) {
  /* .data-management-container {
    padding: 30px;
  } */
  .top-section h1 {
    font-size: 1.5rem;
  }
  .data-left-section {
    max-width: 60%;
  }
  .middle-section img{
    width: 350px;
  }
}

@media (max-width: 768px) {
  .data-management-scroll-container{
    padding-left: 0px;
    padding-right: 0px;
  }
  .bottom-section {
    padding: 0px 0px;
  }
  .bottom-section-container {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
  }
  .data-left-section {
    max-width: 100%;
    text-align: center;
  }
  .data-left-section h2 {
    font-size: 1.6rem;
  }
  .data-left-section p {
    font-size: 1rem;
  }

  .icon_container {
    flex-direction: row;         
    justify-content: center;     
    text-align: left;            
    gap: 15px;                   
  }

  .dm_title_icon {
    width: 40px;                 
    height: 40px;
  }
  .middle-section {
    min-width: 100%; 
  }

  .middle-section img{
    width: 100%;
  }

  .dataIconAnimation {
    width: 100%;
    max-width: 350px;
  }
}

@media (max-width: 480px) {
  .top-section h1 {
    font-size: 1.2rem;
    padding: 0 10px; /* Add padding for mobile screen readability */
  }
  .data-left-section h2 {
    font-size: 21px;
    margin-top:2%
  }
  .data-left-section p {
    font-size: 0.9rem;
  }
  .data-explore-btn {
    padding: 8px 16px;
    font-size: 14px;
  }
  /* .middle-section img {
    max-width: 100%; 
    height: auto;
  } */

  .dataIconAnimation {
    min-width: 370px;
  }
}
