.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .form-card {
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .register-logo-container {
    display: flex;
    justify-content: flex-start;
    }

  .logo {
    width: 100px;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #0000FF;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .google-register_container{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
  }

  .google-signup {
    background-color: white;
    border: 1px solid #ddd;
    color: #666;
    padding: 10px 20px;
    width: 70%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    cursor: pointer;
  }
  
  .google-signup img {
    width: 20px;
    margin-right: 10px;
  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .name-inputs {
    display: flex;
    gap: 10px;
  }
  
  .registerInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 25px;
  }
  
  .phone-input-container {
    position: relative;
    margin: 20px 0;
}

.phone-label {
    position: absolute;
    top: -10px;
    left: 15px;
    background: white;
    padding: 0 5px;
    font-size: 14px;
    color: #666;
    font-weight: 500;
    border-radius: 20px;
    z-index:1000
}

.required {
    color: red;
}

.phone-input-wrapper {
    width: 100%;
}

.phone-input {
    width: 100% !important;
    height: 48px !important;
    border-radius: 20px !important; 
    border: 1px solid #ccc !important;
    padding-left: 60px !important; 
    font-size: 16px !important;
    outline: none !important;
    transition: all 0.3s ease-in-out;
}

.phone-dropdown-button {
    background: none !important;
    border: none !important;
    border-right: 1px solid #ccc !important; 
    padding-right: 65px !important;
    border-radius: 20px 0 0 20px !important; 
}


.phone-input-wrapper .flag-dropdown {
    margin-left: 10px;
}

.custom-dropdown {
    border-radius: 8px !important;
}

.phone-input:focus {
    border: 1px solid #0000ff !important; /* Change border color on focus */
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.3);
}
  
  .registration-paragrapgh {
    font-size: 12px;
    color: #888;
    margin-top: 20px;
  }
  
  .registration-paragrapgh a {
    color: #0000FF;
    text-decoration: none;
  }
  
  .login-link {
    margin-top: 20px;
  }
  
  .login-link a {
    color: #0000FF;
    text-decoration: none;
  }
  
  .signup_links{
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .form-card {
      padding: 20px;
    }
  
    .name-inputs {
      flex-direction: column;
    }
  }
  