.resetPass-template-screen {
  background-color: white;
  position: relative;
}

.resetPass-template-content {
  display: flex;
  min-width: 100vw; 
  min-height: 100vh;
}
  
 .resetPass-left-section, .resetPass-right-section {
    flex : 1
}

@media (max-width: 768px) {
    .resetPass-template-content {
      flex-direction: column;
    }
}
  